article {
  background: white;
  width: 411px;
  height: auto;
  border-radius: 1rem;
  border: 5px solid #f5f5f5;
}

img {
  width: 100%;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

nav {
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

a {
  text-align: center;
  color: #777777;
  text-decoration: none;
}

.is-active {
  color: #a000ac;
}

span {
  display: block;
}
